$logo-color-base: rgba(0, 0, 255, .5);
$logo-color-extra: rgba(255, 0, 0, .5);
$no-results-color: #666;

.logo {
  margin: 50px auto;

  a:hover {
    text-decoration: none;
  }

  span {
    color: $logo-color-base;
    display: inline;
    font: 80px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    position: relative;

    &::after {
      color: $logo-color-extra;
      content: 'Broogle';
      left: 5px;
      position: absolute;
      top: 2px;
    }
  }
}

.search-results {
  margin-top: 20px;

  &__item {
    padding: 10px 0 20px;
  }

  &__no-results {
    color: $no-results-color;
    font-size: 36px;
    margin-top: 20px;
  }
}
