.logo {
  margin: 50px 0 50px;
  font-size: 80px;
}

.search-results {
  margin-top: 20px;
}

.search-results__item {
  padding: 10px 0 20px;
}

.no-results {
  font-size: 36px;
  margin-top: 20px;
  color: #666666;
}
